import(methods)
import(png) # My modified version supporting metadata.

export(about_rProv)

export(startProv, provCallback)
exportClass(Task, AssignTask, SubAssignTask,
            PlotTask, GRZPlotTask, LatticePlotTask,
            ProvenanceTask)

export(pngPlot)
export(getSessionProvInfo)


