import(methods)
import(CodeDepends)
import(codetools)

import(png) # My modified version supporting metadata.

export(about_rProv)

export(startProv, provCallback)
exportClass(Task, AssignTask, SubAssignTask,
            PlotTask, GRZPlotTask, LatticePlotTask,
            ProvenanceTask)

export(pngPlot)
export(getSessionProvInfo)


# Currently internal:  getCommands, getInputVariables
export(provSave)

export(getProvInfo, setProvInfo)

export(creator, when, sys, session, pid, rng)

export(addProvenance)

export(traceProv, provenanceTrace)
